{% extends 'template.html.twig' %}

{% block dynamique %}
    <h1>Actualite</h1>

    <table border="2">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ actualite.id }}</td>
            </tr>
            <tr>
                <th>Datedebut</th>
                <td>{% if actualite.dateDebut %}{{ actualite.dateDebut|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Datefin</th>
                <td>{% if actualite.dateFin %}{{ actualite.dateFin|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ actualite.description }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ actualite.titre }}</td>
            </tr>
            <tr>
                <th>Img</th>
                <td><img src="{{ asset('images/'~ actualite.img) }}" height="100px" width="200px"  /></td>
            </tr>
            <tr>
                <th>State</th>
                <td>{{ actualite.state }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('actualites_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('actualites_edit', { 'id': actualite.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
    <img src="{{ asset('images/facebook.png') }}"/>
    {{ socialButtons( {'pinterest':false} ) }}


    {{ socialLinks() }}
{% endblock %}
