{% extends 'base.html.twig' %}

{% block dynamique %}
    <h1>Sponsorings list</h1>

    <table border="2">
        <thead>
        <tr>
            <th>Id</th>
            <th>Datecontrat</th>
            <th>Description</th>

        </tr>
        </thead>
        <tbody>
        {% for sponsoring in sponsorings %}
            <tr>
                <td>{{ sponsoring.id }}</td>
                <td>{% if sponsoring.dateContrat %}{{ sponsoring.dateContrat|date('Y-m-d') }}{% endif %}</td>
                <td>{{ sponsoring.description }}</td>

            </tr>
        {% endfor %}
        </tbody>
    </table>

    <img src="{{ asset('images/facebook.png') }}"/>
    {{ socialButtons( {'pinterest':false} ) }}


    {{ socialLinks() }}
{% endblock %}