{% extends 'base.html.twig' %}
{% block dynamique %}
    <center>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h4 style="color: red  ;font-family: 'Rock Salt', cursive ;font-style: italic;  color: #666 ; letter-spacing: 1px ; caption-side: bottom ; padding: 20px ; text-shadow: 1px 1px 1px black " >Welcome !</h4>
        <a href="{{ path('ecommerce_affichecataloguepage') }}">Catalogue</a>
        <br>
        <br>
        <br>
        <br>
        <table style="table-layout: fixed ;cellpadding:30 ;cellspacing:50;width: 70% ">
            <tr>
            <td><img alt="" src="{{ asset('images/imaff.jpg')  }}"  height="150px" width="250px" align="center"></td>
                <td><img alt="" src="{{ asset('images/cite-de.jpg')  }}"  height="150px" width="250px" align="center"></td>
                <td><img alt="" src="{{ asset('images/c8.jpg')  }}"  height="150px" width="250px" align="center"></td>
            </tr>
            <tr>
                <td><img alt="" src="{{ asset('images/ci.jpg')  }}"  height="150px" width="250px" align="center"></td>
                <td><img alt="" src="{{ asset('images/citee.jpg')  }}"  height="150px" width="250px" align="center"></td>
                <td><img alt="" src="{{ asset('images/Ban.jpg')  }}"  height="150px" width="250px" align="center"></td>
            </tr>

        </table>

    </center>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
{% endblock %}
