{% extends 'template.html.twig' %}
{% block dynamique %}
    <center>
        {% if (test=="modify") %}
        <h1> Modify Event</h1>
        {% else %}
        <h1> Add an Event</h1>
        {% endif %}
    </center>
    <br>
    <br>
    <br>
    <center>
        {{ form_start(form) }}
        <table>
            <tr>
                <td> Event Name*:</td> <td> {{ form_widget(form.nomevent) }}</td>
            </tr>
            <tr>
                <td> Event Category:</td> <td> {{ form_widget(form.categorieevent) }}</td>
            </tr>
            <tr>
                <td> Number Of Places:</td> <td> {{ form_widget(form.nbrplacedispo) }}</td>
            </tr>
            <tr>
                <td> Event Date:</td> <td> {{ form_widget(form.dateevent) }}</td>
               {% if((form_errors(form.dateevent)==true)) %}
                <div class="alert alert-primary" role="alert">
                    The Event Date Must Be Greater Than Today !!!!!
                </div>
                {% endif %}




            </tr>
            <tr>
                <td> Event Hour:</td> <td> {{ form_widget(form.heureevent) }}</td>
            </tr>
            <tr>
                <td> Event Affiche:</td> <td> {{ form_row(form.affiche)  }} </td>
            </tr>
            <tr>
                <td> </td>
                <td>
                    {% if (test=="modify") %}
                    <input type="submit" value="Modifier">
                    {% else %}
                    <input type="submit" value="Ajouter"></td>
                {% endif %}
            </tr>
        </table>
    </center>

    {{ form_end(form) }}


{% endblock %}